* {
    margin: 0 auto;
    padding: 0;
    outline: 0;
    width: 800px;
}
body {
    min-height: 100%;
}
aside, .mainhome {
    height: 400px;
}
.mainhome{
    float: left;
    width: 85%;
    background-color:rgb(0, 255, 21);
    text-align: center;
}
header {
    background-color:aqua;
}
h2 {
    text-align: center;
}
#my-ava {
    width: 70px;
}
.hyper {
    width: auto;
    height: auto;
    border: black;
    margin: 10% 5% 0% 5%;
    background-color: #10c63a;
    text-align: center;
}
.hyper:hover {
    background-color: #c61010;
}
a {
    color: rgb(102, 0, 255);
}
footer {
    clear: both;    
    margin:0 auto;
    height: 30px;
}
aside {
    float: left;
    margin: 0px 0px 0px 0px;
    background-color: #10c63a;
    width: 15%;
}
